{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-12 padding-none">
			<h1>Item {{item.name}}</h1>
		</div>
	</div>	
	<h4>{{item.description}}</h4>
	<a href = "{{url_for('showCategoryItems', category_name = category_name)}}"> Cancel </a>

{% endblock %}
